*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;

}
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

/*navbar*/
.navbar{
    width: 100%;
    background: white;
    height: 90px;
    padding: 20px;
    box-shadow: 0 1px 3px rgb(0 0 0 /10%),
    0 0 2px rgb(0 0 0 /7%);
    font-size: 15px;
}
.cabeza{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu a{
    margin: 1px;
    color:#000;
    text-decoration: none;
}
.navbar ul{
    display: flex;
    align-items: center;
}
.navbar li{
    margin: 0 15px;
    font-weight: bold;
}

.navbar-menu a:hover{
    color: hsl(164, 31%, 17%);
    border-bottom: 4px solid #1e3932;
}

.navbar-inicio a:hover{
    color:gray;
}

.cabeza img{
    width: 50px;
    height: 50px;
    margin-left: 55px;
    margin-right: 20px;
}

.navbar-menu{
    display: flex;
    text-transform: uppercase;
    flex: 1;
    margin-left: 20px;
    text-decoration:none;
    margin: 0 5px;
}
.navbar-menu a{
    margin: 2px;
}

.navbar-inicio{
    margin-right: 30px;
}

.navbar-inicio img{
height: 20px;
width: 20px;
margin-right: 1px;
}

.button, .button2, .button3, .button4{
    cursor: pointer;
    display: inline-block;
    background: none;
    border: 1px solid;
    border-radius: 50px;
    padding: 6px 10px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
}
.button{
    border-color: #000;
    color:#000;
}

.button2{
    background-color: #000;
    color: white;
}

.col{
    color: #000;
}

.Rewards-container{
    display: flex;
    margin-top: 90px;
    height: calc(100vh - 90px);
    flex-direction: row;
}   

.left-container{
    flex: 1;
    align-items: center;
    position: fixed;
    top: 90px;
    width: 40vw;
    height: 570px;
    background-color:#125741;
    color: white;
    padding: 50px;
    background-image:url(https://subir-imagen.com/images/2024/12/12/image.png);
    background-position: right bottom;
    background-size: 290px auto;
    background-repeat: no-repeat;
}

.right-container{
    display: flex;
    flex:1;
    width: 50vw;
    height: auto;
    margin-left: 46vw;
    padding-top: 20px; 
    margin-top: 0;
    flex-direction: column;
}

.left-container img{
width: 300px;
height: auto;
margin-left: 80px;
margin-top: 140px;
}

.left-container h2{
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

.button3{
    color: white;
    border-color: white;
    font-size: 14px;
    margin-top: 40px;
    margin-left: 90px;
    margin-right: 50px;
    font-weight: 700;
}

.button3:hover{
    color:#008248;
    border-color: #008248;
    
}

.button4{
    background-color: white;
    color: rgb(56, 56, 56);
    border-color: white;
    font-size: 14px;
}

#p1, #p2 {
    font-size: 22px;
    text-align: center;
    font-weight: 500;
}

#p1{
    margin-top: 20px;
}


.s1, .s3{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px 0;
}

.s11, .s33{
    width: 20%;
    margin-bottom: 20px;
    text-align: center;
}

.s1 img, .s3 img{
    width: 120px;
    height: auto;
}

.s1 p{
    line-height: 1.5;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
}

#estrella{
    width: 30px;
    height: auto;
}

#p2{
margin-top: 80px;
}

.s4{
    background-color: #f1f0eb;
    width: 58.5vw;
    height: auto;
    margin-left: -80px;
    text-align: center;
}

.s4 img{
    width: 25vw;
    height: auto;
    margin-top: 20px;
}

.s4 h2{
    margin-top: 40px;
    font-size: 26;
    font-weight: 600;
}

.s4 p{
    margin-top: 40px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 40px;
}

.s5{
    display: flex;
    margin-bottom: 20px;
}

.s5 h2{
    margin-top: 40px;
    text-align: center;
}

.s5 h3{
    margin-top: 5px;
    text-align: center;
}

.par1, .par2{
    text-align:left;
    font-size: 15px;
    font-weight: 400;
    margin-top: -80px;
    margin-left: 190px;
}

.num_1, .num_3, .num_6{
width: 35px;
height: 35px;
background-color: #1e3932;
color: white;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
font-size: 16px;
margin-left: 30px;
}

.num_1, .num_3{
margin-top: 90px;
}

.num_6{
margin-top: 20px;
}

#num_2, #num_7{
    margin-left: 50px;
    width: 128px;
    height: auto;
    margin-top: -38px;
    margin-bottom: 5px;
}

#num_4{
    margin-top: -38px;
    width: 250px;
    height: auto;
    margin-left: 50px;
}

#num_5{
    display: inline-block;
    width: auto;
    height: 170px;
    margin-left: 60px;
    margin-top: -40px;
}

.s6{
    margin-top: 60px;
    margin-left: -80px;
}

.s7{
    display: flex;
    flex-direction: column;
    background-color: #f1f0eb;
    margin-left: -80px;
}

.s7 h2{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 40px;
    margin-left: -80px;
}

.s71, .s72{
    display: flex;
    justify-content: space-around;
}

#estrella1, #estrella2{
    width: 50px;
    height: auto;
    margin-top: 55px;
    margin-left: -90px;
}

#pa1, #pa4{
    margin-left: -40px;
    margin-top: -50px;
    font-weight: 600;
    font-size: 16px;
}

#tel, #tel1, #tel2, #tel3{
    width: 75px;
    height: auto;
    margin-top: 20px;
    margin-left: -140px;
}


#pa2, #pa3, #p5, #p6{
    margin-left: -40px;
    margin-top: -140px;
    font-weight: 600;
    font-size: 16px;
}

.s771{
    margin-top: 20px;
}

.s78{
    display: flex;
    justify-content: space-around;
}

.s73 h3{
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.s78 h4{
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-top: 60px;
    margin-left: 40px;
}

.s78 img{
    width: 350px;
    height: auto;
    margin-top: 50px;
}

.s79 p{
    display: flex;
    font-size: 16px;
    font-weight: 400;
    margin-top: -40px;
    margin-left: 105px;
    margin-bottom: 60px;
}

.s85{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.s85 h2{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
    margin-top: 40px;
}

.s85 img{
    width: 280px;
    height: auto;
    font-size: 16px;
    margin-top: 24px;
}

.s85 p{
    font-size: 16px;
    margin-top: 24px;
    font-weight: 400;
}

.s90{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 180px;
}

.s90 img{
    width: 148px;
    height: 48px;
    margin-top: 50px;
    margin-right: 50px;
}

.s91{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.s91 h2{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 50px;
}

.s91 img{
    width: 250px;
    height: auto;
    margin-bottom: 50px;
}

.s92{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #f1f0eb;
    margin-left: -80px;
}

.s921 img{
    width: 350px;
    height: 182px;
    margin-top: 50px;
    margin-left:120px;
    margin-right: 30px;
    margin-bottom: 50px;
}

.s922 h3{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.s922 p{
    font-size: 16px;
    margin-bottom: 10px;
}

.s922 a{
    color: #006341;
    text-decoration: underline;
}

.s922 a:hover{
    cursor:pointer;
    text-decoration: none;
}

.fsb img{
    width: 100%;
}

footer{
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 0 1px 3px rgb(0 0 0 /10%);
    margin-left: -80px;
}

.footer-container{
display: flex;
width: 100%;
height: 280px;
padding: 20px;
line-height: 2.5;
box-shadow: 0 1px 0 0 rgb(0 0 0  /10%);
}

.Contactos{
    display: flex;
    justify-content: space-between;

}

.Contactos p{
margin-top: 1px;
font-size: 18px;
font-weight: 500;
}

.Contactos ul{
list-style: none;
padding: 0;
}

.Contactos ul li{
    margin-bottom: 5px;
}

.Contactos ul li a{
    text-decoration: none;
    color: grey;
    font-size: 16px;
}

.Contactos ul li a:hover{
    color: black;
}

.FCS, .FCA{
    margin-left: 30px;
}

.footer-container2{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 30px;
}

.Redes{
    display: flex;
    gap: 30px;
}

.Redes a{
    text-decoration: none;
}

.Redes img{
    width: 34px;
    height: 34px;
}

.footer-container3{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
    color: #999;
    font-size: 16px;
}
.pie{
    display: flex;
    gap: 15px;
}
.pie p{
    box-shadow: 2px 0 0 0 rgb(0 0 0  /10%);
}

.footer-container4{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 30px;
    color: #999;
    font-size: 14px;
}

.footer-container5{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 1px;
    color: #999;
    font-size: 10px;
    gap: 6px;
}

.pie3{
    display: flex;
    gap: 6px;
}
.pie3 p{
    box-shadow: 1px 0 0 0 rgb(0 0 0  /10%);
}