*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;

}
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

/*navbar*/
.navbar{
    width: 100%;
    background: white;
    height: 90px;
    padding: 20px;
    box-shadow: 0 1px 3px rgb(0 0 0 /10%),
    0 0 2px rgb(0 0 0 /7%);
    font-size: 15px;
}
.cabeza{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu a{
    margin: 1px;
    color:#000;
    text-decoration: none;
}
.navbar ul{
    display: flex;
    align-items: center;
}
.navbar li{
    margin: 0 15px;
    font-weight: bold;
}

.navbar-menu a:hover{
    color: hsl(164, 31%, 17%);
    border-bottom: 4px solid #1e3932;
}

.navbar-inicio a:hover{
    color:gray;
}

.cabeza img{
    width: 50px;
    height: 50px;
    margin-left: 55px;
    margin-right: 20px;
}

.navbar-menu{
    display: flex;
    text-transform: uppercase;
    flex: 1;
    margin-left: 20px;
    text-decoration:none;
    margin: 0 5px;
}
.navbar-menu a{
    margin: 2px;
}

.navbar-inicio{
    margin-right: 30px;
}

.navbar-inicio img{
height: 20px;
width: 20px;
margin-right: 1px;
}

.button, .button2{
    cursor: pointer;
    display: inline-block;
    background: none;
    border: 1px solid;
    border-radius: 50px;
    padding: 6px 10px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
}
.button{
    border-color: #000;
    color:#000;
}

.button2{
    background-color: #000;
    color: white;
}

.col{
    color: #000;
}

.Rewards-container{
    display: flex;
    margin-top: 90px;
    height: calc(100vh - 90px);
    flex-direction: row;
}   

.left-container{
    flex: 1;
    align-items: center;
    position: fixed;
    top: 90px;
    width: 40vw;
    height: 570px;
    background-color:#125741;
    color: white;
    padding: 50px;
}

.right-container{
    display: flex;
    flex:1;
    width: 50vw;
    height: auto;
    margin-left: 40vw;
    padding-top: 20px; 
    margin-top: 0;
    flex-direction: column;
}


.left-container h1{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 35vh;
}

.fc{
    background-color: #edebe9;
    margin-top: -20px;
    height: auto;
}

.form-container{
    padding: 48px 0;
    width: 360px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.form-g{
    margin-bottom: 20px;
}

.form-g p{
    display: inline-block;
    font-size: 14px;
}

label{
    display: flex;
    color: #666666;
    font-size: 14px;
    margin-bottom: 5px;
}

#asterisco, #password{
    color:red;

}

input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #cccccc;
    background-color:transparent;
    outline: none;
    color: #333333;
}

input::placeholder{ /*Muestra un texto mientras esta vacio el input*/
    font-weight: bold;
    color: #666666;
}


.button3 a{
    color: white;
    font-size: 16px;
}

.button3{
    border-radius: 50px;
    padding: 17px 38px;
    border: 2px solid;
    font-weight: 600;
    cursor: pointer;
    background-color: #00a862;
    border-color: #00a862;
    display: inline-block;
    text-decoration: none;
    margin-left: 175px;
    margin-top: 20px;
}

.sec2{
    width: 100%;
    height: auto;
    background-color: #000;
    text-align: center;
    padding: 16px 0;
}

.sec2 h2{
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.form-container strong{
    font-size: 16px;
}

#text{
    font-size: 13px;
}

#text2{
    font-size: 14px;
    color: #666666;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form-d span{
    font-size: 12px;
}

.form-d p{
    font-size: 12px;
    color: #666666;
}

.cumple{
    flex-direction: row;
}

.cumple select{
width: auto;
margin-right: 2%;
font-size: 14px;
background-color: #edebe9;
margin-top: 20px;
margin-bottom: 20PX;
}


.rewards-options label, .terms label{
    display: flex;
    margin-bottom: 10px;
    font-size: 14px;
    color: #666666;
    flex-direction: row;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rewards-options input, .terms input{
    background-color: #28a745;
    width: 20px;
    height: auto;
    display: inline-block;
    margin-right: 2px;
}

#tyc{
    color:#125741;
    text-decoration:underline;
}

#tyc:hover{
    text-decoration: none;
}

.texto3 h3{
    font-size: 19px;
}

.texto3 p{
    margin-top: 20px;
    font-size: 14px;
}
footer{
    padding: 20px;
    box-shadow: 0 0 1px 3px rgb(0 0 0 /10%);
    background-color: #edebe9;
}

.footer-container{
display: flex;
width: 100%;
height: 280px;
padding: 20px;
line-height: 2.5;
box-shadow: 0 1px 0 0 rgb(0 0 0  /10%);
}

.Contactos{
    display: flex;
    justify-content: space-between;

}

.Contactos p{
margin-top: 1px;
font-size: 18px;
font-weight: 500;
}

.Contactos ul{
list-style: none;
padding: 0;
}

.Contactos ul li{
    margin-bottom: 5px;
}

.Contactos ul li a{
    text-decoration: none;
    color: grey;
    font-size: 16px;
}

.Contactos ul li a:hover{
    color: black;
}

.FCS, .FCA{
    margin-left: 30px;
}

.footer-container2{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 30px;
}

.Redes{
    display: flex;
    gap: 30px;
}

.Redes a{
    text-decoration: none;
}

.Redes img{
    width: 34px;
    height: 34px;
}

.footer-container3{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
    color: #999;
    font-size: 16px;
}
.pie{
    display: flex;
    gap: 15px;
}
.pie p{
    box-shadow: 2px 0 0 0 rgb(0 0 0  /10%);
}

.footer-container4{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 30px;
    color: #999;
    font-size: 14px;
}

.footer-container5{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 1px;
    color: #999;
    font-size: 10px;
    gap: 6px;
}

.pie3{
    display: flex;
    gap: 6px;
}
.pie3 p{
    box-shadow: 1px 0 0 0 rgb(0 0 0  /10%);
}